apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels:
      app: {{ .Chart.Name }}

  {{- if (and (.Values.hpa.enabled) (contains .Release.Namespace "production")) }}
{{- else }}
  replicas: {{ .Values.replicaCount }}
{{- end }}

  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}

{{- if and .Values.vault.enabled .Values.podAnnotations.vault.agentInject }}
{{ if contains .Release.Namespace "production" }}
{{- toYaml .Values.podAnnotations.vault.agentInject.template.production | indent 8 }}
{{ else if contains .Release.Namespace "staging" }}
{{- toYaml .Values.podAnnotations.vault.agentInject.template.staging | indent 8 }}
{{ end }}
{{ end }}

    spec:

      containers:
{{- if contains .Release.Namespace "production" }}
{{- end }}

        - name: {{ .Chart.Name }}

          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"

          imagePullPolicy: {{ .Values.image.pullPolicy }}

          env:
{{- range $pkey, $pval := .Values.env }}
          - name: {{ $pkey }}
            value: {{ quote $pval }}
{{- end }}

          ports:
          - containerPort: {{ .Values.service.internalPort }}

          livenessProbe:
            httpGet:
              path: {{ .Values.probePath }}
              port: {{ .Values.service.internalPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}

          readinessProbe:
            httpGet:
              path: {{ .Values.probePath }}
              port: {{ .Values.service.internalPort }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}

          resources:
{{ ternary (toYaml .Values.resources.production) (toYaml .Values.resources.staging) (eq .Release.Namespace "production") | indent 12 }}

{{- if not .Values.vault.enabled }}
          volumeMounts:
          - name: app-config
            mountPath: /app/config.yaml
            subPath: config.yaml
{{- end }}

      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}

{{- if not .Values.vault.enabled }}
      volumes:
      - name: app-config
        configMap:
          name: {{ .Chart.Name }}-config
{{- end }}