{{- if (and (.Values.hpa.enabled) (contains .Release.Namespace "production")) }}

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Chart.Name }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Chart.Name }}

  minReplicas: {{ .Values.hpa.minReplicas }}

  maxReplicas: {{ .Values.hpa.maxReplicas }}

  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.cpuTargetAverageUtilization }}

  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: {{ .Values.hpa.memoryTargetAverageUtilization }}

{{- end }}
